# Node
node_modules/
build/
dist/
*.log
package-lock.json
.svelte-kit/generated/
.svelte-kit/types/
.svelte-kit/output/

# .NET
**/bin/
**/obj/
*.user
*.suo
*.cache

# Env
.env
.env.*
appsettings.*.local.json

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

.vs
.vscode
