# Node
node_modules/
.svelte-kit/
build/
dist/
*.log

# .NET
**/bin/
**/obj/
*.user
*.suo
*.cache

# Env
.env
.env.*
appsettings.*.local.json

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

.vs
.vscode
